<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../views/styles/style.css">
</head>
<body class="login-page">
<main>
    <div class="login-block">
        <h1 id="data">Введите свои данные</h1>
        <form action="user" name="auth" onclick="return formValidation();">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                    <input id="login" type="text" class="form-control" placeholder="Логин" required>
                </div>
            </div>
            <hr class="hr-xs">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                    <input id="password" type="password" class="form-control" placeholder="Пароль" required>
                </div>
            </div>
            <button class="btn btn-primary btn-block" id="signin" type="submit">Войти</button>
        </form>
        <div class="login-links">
            <a href="user/registration"><button class="btn btn-primary btn-block register" type="submit">Регистрация</button></a>
        </div>
    </div>
</main>
<script src="/views/js/index.js"></script>

</body>
</html>