<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/styles/style.css">
</head>
<body class="login-page">
<main>
    <div class="login-block">
        <h1 id="data">Введите свои данные</h1>
        <form action="/user" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Пароль" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                    <input id="confirmPassword" type="password" class="form-control" placeholder="Введите пароль еще раз" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Имя" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                    <input id="surname" name="surname" type="text" class="form-control" placeholder="Фамилия" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                    <input id="email" name="email" type="text" class="form-control" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
                    </div>
                    <div class="custom-file">
                        <input id="uploadImage" type="file" class="custom-file-input" accept="image/jpeg" onchange="uploadLabel()">
                        <label class="custom-file-label" id="uploadLabel" for="uploadImage">Загрузите свою фотографию</label>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary btn-block register" type="submit" id="send" value="Зарегистрироваться" onclick="return formValidation();">
        </form>
    </div>
</main>
<script src="../views/js/registration.js"></script>

</body>
</html>