<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../views/styles/style.css">
    <script src="/views/js/user.js"></script>
    <title>Страница пользователя</title>
</head>
<body>
<div class="container">
    <div class="nav navbar">
        <h1>Страница пользователя</h1>
    </div>
    <div class="login-block container">
        <div class="row">
            <div class="col-md-4">
                <img id="image" src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="img-thumbnail" >
            </div>
            <div class="col-md-5">
                <h3 id="name"></h3>
                <hr class="hr-xs">
                <h3 id="surname"></h3>
                <hr class="hr-xs">
                <h3 id="email"></h3>
                <hr class="hr-xs">
            </div>
        </div>
    </div>
</div>
<script src="/views/js/user.js"></script>
</body>
</html>